
.cv{
	font-family: Verdana, sans-serif;
	margin: 0px;
}
.header {
	text-align: center;
	margin: 0px;
}
h1{
	font-size: 8.5px;
}
.name{
	font-size: 14px;
}
.address{
	font-size: 8.5px;
}
.Objective{
	font-size: 8.5px;
}
.school{
	margin: 0px;
	font-size: 8.5px;
}
.list{
	font-size: 8.5px;
}
.where{
	font-size: 8.5px;
}
.Other{
	font-size: 8.5px;
}
.activities{
	font-size: 8.5px;
}